html {
  color: #1e1e1e;
  font-family: calibri;
}

code, pre, .pre {
  color: #000000;
  background-color: rgb(200,200,200);
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Consolas;
}

.header {
  justify-self: center;
}

/* Syntax Hilighting */
.syntax-keyword {
  color: rgb(100,100,250);
}

.syntax-string {
  color: rgb(0,150,0);
}

.syntax-comment {
  color: rgb(255,100,100);
}

.syntax-etc {
  color: rgb(100,100,100);
}